# general things to ignore in python
*.py[cod]
__pycache__/
*.so
*~
.eggs

# ignore the default input and output folder
output/
input/

# ingnore big input file
data/atcocodes-bus.csv

# ignore distribution
dist/
HypercatBuilder.egg-info/
